*.db
*.wav
*.mp4
*.iso
*.zip
bin/
obj/
*.aux
*.log
*.toc
*.out
*.synctex*
drive-download-*
materials/WPF*
materials/Calc_Starter/bin/
materials/Calc_Starter/obj/
.vs/
.DS_Store
*.suo
*.lock
storage.ide*
