<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Pages</title>
</head>
<body>
    <div>
        <h1>Система учета</h1>
        <div>
            <ul>
                <li><a asp-page="/Index">Главная</a></li>
                @* Tag Helper asp-page — серверный атрибут, генерирует href автоматически *@
                <li><a asp-page="/Product">Продукт</a></li>
            </ul>
        </div>
        @* Мастер-страница: RenderBody() вставляет содержимое конкретной страницы *@
        @RenderBody()
    </div>
    <div>&copy; @DateTime.Now.Year.ToString() - Луценко В.</div>
</body>
</html>
